{% extends 'base.html' %}{% block content %}

<div class="row">
	<div class="col s6">
		<div class="card">
			<div class="card-content">
				<span class="card-title">{{nft.name}}</span>
				<span class="card-title">{{nft.description}}</span>
				<span class="card-title">{{nft.price}}</span>
				<span class="card-title">{{nft.category}}</span>
			</div>
		</div>
	</div>
	<div class="col s6">
		<form action="{% url 'add_bid' nft.id %}" method="POST">
			{% csrf_token %} {{bidding_form.as_p}}
			<input type="submit" class="btn" value="Add Bid" />
		</form>

		<table class="striped">
			<thead>
				<tr>
					<th>Bidder</th>
					<th>Date</th>
					<th>Bid</th>
				</tr>
			</thead>
			<tbody>
				{% for bidding in nft.bids_set.all %}
				<tr>
					<td>{{bidding.user}}</td>
					<td>{{bidding.date}}</td>
					<td>{{bidding.bid}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<a href="{% url 'nft_update' nft.id %}">Edit</a>
<a href="{% url 'nft_delete' nft.id %}">Delete</a>
<hr />
<div class="row">
	<div class="col s6">
		<h3>{{ nft.name }}'s Categories</h3>
		{% if nft.categories.count %} {% for category in nft.categories.all %}
		<div class="card">
			<div class="card-content">
				<span class="card-title"> {{category.name}} </span>
			</div>
		</div>
		{% endfor %} {% else %}
		<h5>No Categories</h5>
		{% endif %}
	</div>
	<div class="col s6">
		<h3>Available Categories</h3>
		{% if categories.count %} {% for category in categories%}
		<div class="card">
			<div class="card-content">
				<span class="card-title">{{category.name}}</span>
			</div>
			<div class="card-action">
				<form
					action="{% url 'assoc_category' nft.id category.id %}"
					method="POST"
				>
					{% csrf_token %}
					<button type="submit" class="btn">Add</button>
				</form>
			</div>
		</div>
		{%endfor%} {%else%}
		<h5>{{nft.name}} Already Has All Categories Available</h5>
		{%endif%}
	</div>
</div>
<script>
	var dateEl = document.getElementById('id_date');
	M.Datepicker.init(dateEl, {
		format: 'yyyy-mm-dd',
		defaultDate: new Date(),
		setDefaultDate: true,
		autoClose: true,
	});
</script>
{% endblock %}
